In [1]:
import pandas as pd

In [2]:
LUAD_NFE = pd.read_csv('LUAD NFE + Median.csv', sep=",")

LUAD_NFE

    HUGO_SYMBOL  High Score  Count  Median
0         STK11           8      2     7.5
1          TP53           8     45     5.0
2          GNAS           7      3     6.0
3           NNT           7      3     6.0
4          KRAS           7      8     5.5
..          ...         ...    ...     ...
500      ADRBK1           1      1     1.0
501        TFR2           1      1     1.0
502          TF           1      1     1.0
503      CACNB2           1      1     1.0
504       KCNK6           1      1     1.0

[505 rows x 4 columns]

In [3]:
LUAD_4 = LUAD_NFE.loc[LUAD_NFE['High Score'] > 4]

LUAD_4

   HUGO_SYMBOL  High Score  Count  Median
0        STK11           8      2     7.5
1         TP53           8     45     5.0
2         GNAS           7      3     6.0
3          NNT           7      3     6.0
4         KRAS           7      8     5.5
..         ...         ...    ...     ...
63         UNG           5      1     5.0
64        UPP1           5      1     5.0
65       ATP7B           5      1     5.0
66       YARS2           5      2     4.5
67      RPS15A           5      1     5.0

[68 rows x 4 columns]

In [4]:
LUAD_Over_4 = LUAD_4['HUGO_SYMBOL']

LUAD_Over_4

0      STK11
1       TP53
2       GNAS
3        NNT
4       KRAS
       ...
63       UNG
64      UPP1
65     ATP7B
66     YARS2
67    RPS15A
Name: HUGO_SYMBOL, Length: 68, dtype: object

In [5]:
LUAD_Assay = pd.read_csv('TCGA Barcodes/LUAD Assays Normalised.csv', sep=",")

LUAD_Assay

,gene_id,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X538,X539,X540,X541,X542,X543,X544,X545,X546,X547
0,A1BG,258.0731,48.4589,307.7644,324.4121,243.9686,121.9456,69.8518,82.4158,83.4694,...,42.6759,98.4688,60.3047,67.2636,150.9005,181.6478,680.9723,343.3507,36.7047,165.6874
1,A2M,12829.4672,20385.7482,7322.6024,13439.5126,33512.8328,78133.0513,29576.4041,37050.6538,74022.6021,...,52153.6348,45541.3513,9094.4062,31278.9243,79969.1480,29742.1671,9374.7876,17479.2733,4110.1060,14199.5857
2,NAT1,126.1418,160.4439,152.3527,377.3869,282.0509,124.4274,202.0281,249.7548,113.9539,...,201.4238,91.5224,89.8438,95.1537,105.1203,165.2502,125.0649,179.6943,68.5155,128.0603
3,NAT2,1.7399,6.9968,0.8892,4.5226,1.0946,3.3935,4.6802,5.5574,1.4516,...,5.4439,0.3911,4.2969,0.0000,3.8933,1.8886,5.4015,3.3633,1.6313,26.9931
4,RP11-986E7.7,1456.7203,755.4135,6778.2142,3050.2513,542.9389,1287.4837,250.3900,197.4501,2138.2689,...,796.9012,7025.7162,236.3281,530.1418,370.9801,1575.5430,9.9720,50.9294,650.0816,303.2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19942,RASAL2-AS1,26.3093,10.6641,10.1223,33.2563,17.5579,10.2415,12.5507,9.8071,18.1455,...,8.0151,8.2136,44.4375,11.8203,22.8039,8.9896,16.2044,18.8295,22.8385,31.7075
19943,LINC00882,2.1749,0.7238,9.1886,20.6030,2.1893,0.9049,1.5601,2.2883,2.9033,...,1.2563,7.4313,1.1719,7.6832,1.6686,2.3607,0.0000,1.4414,2.4470,0.0000
19944,FTX,36.7551,21.7142,125.9726,29.1457,35.3932,42.5315,21.8409,46.0935,27.5812,...,45.2261,41.8500,17.1875,37.8251,38.3773,33.5222,16.2044,18.2577,23.6542,25.7376
19945,TICAM2,133.8756,161.6189,71.4783,149.2362,91.8435,86.8231,61.8253,126.5348,20.3157,...,51.9682,144.3943,153.6523,54.9764,37.6375,36.9594,44.6162,41.4402,219.1028,436.9743
19946,SLC25A5-AS1,11.3093,18.3364,19.8592,6.5327,17.5142,17.8723,18.7207,17.3259,15.9681,...,17.1692,9.7780,15.2344,33.6879,24.4725,17.9415,17.4509,20.6600,14.6819,13.1827

In [12]:
LUAD_Assay['Filter'] = LUAD_Assay.gene_id.isin(LUAD_4.HUGO_SYMBOL).astype(bool)

LUAD_Assay

,gene_id,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X539,X540,X541,X542,X543,X544,X545,X546,X547,Filter
0,A1BG,258.0731,48.4589,307.7644,324.4121,243.9686,121.9456,69.8518,82.4158,83.4694,...,98.4688,60.3047,67.2636,150.9005,181.6478,680.9723,343.3507,36.7047,165.6874,False
1,A2M,12829.4672,20385.7482,7322.6024,13439.5126,33512.8328,78133.0513,29576.4041,37050.6538,74022.6021,...,45541.3513,9094.4062,31278.9243,79969.1480,29742.1671,9374.7876,17479.2733,4110.1060,14199.5857,False
2,NAT1,126.1418,160.4439,152.3527,377.3869,282.0509,124.4274,202.0281,249.7548,113.9539,...,91.5224,89.8438,95.1537,105.1203,165.2502,125.0649,179.6943,68.5155,128.0603,False
3,NAT2,1.7399,6.9968,0.8892,4.5226,1.0946,3.3935,4.6802,5.5574,1.4516,...,0.3911,4.2969,0.0000,3.8933,1.8886,5.4015,3.3633,1.6313,26.9931,False
4,RP11-986E7.7,1456.7203,755.4135,6778.2142,3050.2513,542.9389,1287.4837,250.3900,197.4501,2138.2689,...,7025.7162,236.3281,530.1418,370.9801,1575.5430,9.9720,50.9294,650.0816,303.2015,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19942,RASAL2-AS1,26.3093,10.6641,10.1223,33.2563,17.5579,10.2415,12.5507,9.8071,18.1455,...,8.2136,44.4375,11.8203,22.8039,8.9896,16.2044,18.8295,22.8385,31.7075,False
19943,LINC00882,2.1749,0.7238,9.1886,20.6030,2.1893,0.9049,1.5601,2.2883,2.9033,...,7.4313,1.1719,7.6832,1.6686,2.3607,0.0000,1.4414,2.4470,0.0000,False
19944,FTX,36.7551,21.7142,125.9726,29.1457,35.3932,42.5315,21.8409,46.0935,27.5812,...,41.8500,17.1875,37.8251,38.3773,33.5222,16.2044,18.2577,23.6542,25.7376,False
19945,TICAM2,133.8756,161.6189,71.4783,149.2362,91.8435,86.8231,61.8253,126.5348,20.3157,...,144.3943,153.6523,54.9764,37.6375,36.9594,44.6162,41.4402,219.1028,436.9743,False
19946,SLC25A5-AS1,11.3093,18.3364,19.8592,6.5327,17.5142,17.8723,18.7207,17.3259,15.9681,...,9.7780,15.2344,33.6879,24.4725,17.9415,17.4509,20.6600,14.6819,13.1827,False

In [14]:
Filt_LUAD_Assay = LUAD_Assay.loc[LUAD_Assay['Filter'] == True]

Filt_LUAD_Assay

,gene_id,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X539,X540,X541,X542,X543,X544,X545,X546,X547,Filter
143,AKT1,4377.7729,6271.5483,3965.6169,2120.1005,4472.3130,5320.2873,4719.1888,2635.8287,4353.4749,...,2764.8382,2892.1875,4140.6619,4595.2590,3383.8527,7798.4834,4708.5673,7377.6509,3553.0446,True
288,ARHGDIB,4957.3728,6597.2616,2930.2705,10329.6482,9522.2284,6237.8825,3971.1388,6898.0059,6180.3665,...,2502.0045,2610.1562,5011.8203,6508.5598,5164.3059,1809.9096,3465.1212,1173.7357,4290.0188,True
296,ARNTL,392.1270,316.5450,447.2768,288.9447,181.3445,173.9721,262.8705,315.4626,319.3613,...,168.5734,392.5781,228.7234,424.9308,261.5675,240.1579,173.9287,353.1811,207.7841,True
322,ASS1,11375.1631,3425.2971,5546.6469,1970.8543,2435.1976,2986.9351,6964.1186,1368.0941,1432.0450,...,2782.8298,2418.7500,2556.1466,1466.1223,1991.0293,2108.6527,2222.6360,912.7243,723.7916,True
376,ATP7B,47.6294,202.4248,73.2123,25.6281,118.5854,162.2080,64.7426,43.1514,134.2769,...,358.6585,21.0938,201.5366,109.0136,196.8839,451.2309,257.5298,174.5514,16.3214,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13449,USP44,131.1440,126.1837,179.6221,97.9899,95.9630,247.9498,78.7832,31.7097,118.3088,...,46.1523,37.5000,229.3144,162.4081,67.0444,80.6066,104.7416,28.5481,15.0659,True
13485,POLR1B,605.2632,659.3884,753.1678,611.5578,297.0109,465.1321,1022.6209,699.5750,414.4438,...,508.0669,760.1562,357.5650,322.0352,562.7951,560.0914,479.0247,635.3997,681.7326,True
14355,MARS2,242.7142,203.8724,161.2449,254.2714,147.0459,162.4343,301.0920,180.4511,128.4703,...,265.1804,238.2812,148.3452,104.0079,194.0510,156.6428,122.5188,212.0718,197.7401,True
14913,ADSSL1,285.1240,567.7061,528.1956,89.4472,129.1669,102.9354,308.1123,54.9199,81.2920,...,204.9477,1242.1875,192.0804,80.6479,152.5024,155.8118,322.3927,2901.3051,847.4576,True
16392,QSOX2,835.1457,413.5352,507.1508,289.9497,294.0919,430.2924,631.8253,371.0363,377.4270,...,801.0169,542.9688,738.1797,388.7783,714.8253,592.9158,471.8177,717.7814,878.2172,True

In [16]:
Filt_LUAD_Assay.to_csv('Filtered_LUAD_Assay_4+.csv')